<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WasteStrategies" providerName="System.Data.SqlClient" connectionString="Data Source=ap-db.wscsnet.net;Initial Catalog=WS_dev;User Id=ws_portal;Password=w3nSFxDn;"/>
  </connectionStrings>
	<appSettings>
		<add key="responseServerPath" value="http://localhost/Reporting/rs.aspx"/>
		<add key="user" value="WasteStrategies"/>
		<add key="password" value="Waste12$"/>
		<add key="tenants" value="_global_"/>
		<add key="timePeriod" value="5"/>
		<add key="interval" value="60000"/>
		<add key="izu" value="izendaRporting"/>
		<add key="izp" value="RJHTtRxrKYbbS2tm"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
