<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="responseServerPath" value="http://localhost/rs.aspx"/>
		<add key="user" value=""/>
		<add key="password" value=""/>
		<add key="tenants" value="t1,t2"/>
		<add key="timePeriod" value="5"/>
		<add key="interval" value="60000"/>
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
